discord.py[speed]>=2.5.0,<3
uvloop>=0.21.0,<1 ; sys_platform != "win32"
winloop>=0.1.8,<1 ; sys_platform == "win32"
asyncpg>=0.30.0,<1
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@8686b5d1bbc1d3c862292eb436ab630d6e9c9b53
psutil>=7.0.0,<8
pygit2>=1.16.0,<2
python-dateutil>=2.9.0.post0,<3
click>=8.1.8,<9
typing-extensions>=4.12.2,<5
prometheus-client>=0.21.1,<1
prometheus-async>=25.1.0,<26
async-lru>=2.0.4,<3
msgspec>=0.19.0,<1
jishaku>=2.6.0,<3
watchfiles>=1.0.4,<2
PyYAML>=6.0.2,<7
parsedatetime>=2.6,<3
humanize>=4.12.1,<5
